body {
	background: #222;
	color: #ccc;
	text-shadow: 2px 2px 3px #000;
	font-family: Arial;
	font-size: 14px;
	cursor: crosshair;
}

#a, #b, #c, #d {
	width: 50px;
	height: 50px;
}

#a {
	background: red;
}

#b {
	background: darkorange;
	width: 100px;
	height: 100px;
}

#c {
	background: orange;
}

#d {
	background: yellow;
}

th, td {
	text-align: left;
}

.content-container {
	display: table;
	width: 100%;
	margin-top: 20px;
}

.content-row {
	display: table-row;
}

.content {
	display: table-cell;
	width: 50%;
}

ul {
	padding-left: 17px;
}